*{
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    justify-content: space-around;
}
body{
    background: #E5E5E5;
}
.caixa-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #627369;
    padding: 0 20px;
    width: 20%;
}
.caixa-2 {
    width: 60%;
    border-bottom: 1px solid #000000;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
}
.caixa-2 a{
    margin: 3%;
    text-decoration: none;
    color: #000000;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
}
.caixa-2 a:hover {
    color: #627369;
    border-bottom: 1px solid #627369;
}
.div-banner {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.caixa-chamada {
    width: 60%;
    padding: 10%;
    font-family: 'Orienta';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    
}
.caixa-chamada h1{
    margin-bottom: 40px;
}
.caixa-img {
    width: 40%;
    height: 95vh;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: url("./assets/images/telefone.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}
.caixa-img h1{
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 9%;
    font-family: 'Orienta';
    font-style: normal;
    font-weight: 400;
}
.quem-somos {
    width: 100%;
    height: 100vh;
    background: url("./assets/images/background-1.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-quem-somos {
    width: 50%;
    height: 70vh;
    background: #627369;
    padding: 3%;
    font-family: 'Orienta';
    color: #FFFFFF;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}
.nosso-servico {
    width: 100%;
    height: 100vh;
    display: flex;
}
.servico-caixa-esquerda {
    width: 50%;
    height: 100vh;
    background: #627369;
}
.servico-caixa-direita {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.servico-caixa-titulo {
    background: #E5E5E5;
    margin-top: 50px;
    margin-left: 10%;
    height: 100px;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orienta', sans-serif;
    font-size: 22px;
    color: #A4BFA8;
    font-weight: 200;
}
.servico-caixa-texto {
    margin: 40px 10%;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18pxpx;
    color: #FFEAEA;
}
.vantagem {
    width: 90%;
    height: 60px;
    background: rgba(164, 191, 168, 0.11);
    border-radius: 50px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}
.time {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.time h1{
    font-family: 'Orienta';
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}
.time-do-projeto {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.image-nome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: sans-serif;
}
.image-nome img{
    border-radius: 50%;
    margin-bottom: 20px;
}
.contato {
    width: 100%;
    height: 100vh;
    display: flex;
}
.contato-esquerda {
    width: 50%;
    height: 100vh;
}
.contato-direita {
    width: 50%;
    height: 100vh;
    background: #A4BFA8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo-contato {
    background: #A4BFA8;
    margin-top: 50px;
    margin-left: 10%;
    height: 100px;
    border-radius: 50px 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Orienta', sans-serif;
    font-size: 22px;
    color: #E5E5E5;
    font-weight: 200;
}
.formulario-contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.formulario-contato input{
    background: rgba(164, 191, 168, 0.13);
    border-radius: 10px;
    border: none;
    width: 50%;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
}
.formulario-contato button{
    background: #A4BFA8;
    border-radius: 50px;
    font-family: sans-serif;
    color: #FFFFFF;
    border: none;
    width: 50%;
    cursor: pointer;
    padding: 10px 0;
}
.mapa {
    width: 70%;
    height: 80vh;
}
footer {
    background:  #627369;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: sans-serif;
    color: #E5E5E5;
}

@media (max-width: 1000px) {
    .navbar {
        font-size: 16px;
        height: 40px;
    }
    .caixa-1 {
        width: 100%;
    }
    .caixa-1 h1{
        text-align: center;
    }
    .caixa-2 {
        display: none;
    }
    .quem-somos {
        background: none;
    }
    .card-quem-somos {
        width: 100%;
    }
    .caixa-chamada {
        box-sizing: border-box;
    }.nosso-servico {
        flex-direction: column;
    }
    .servico-caixa-esquerda {
        width: 100%;
    }
    .servico-caixa-direita {
        width: 100%;
        box-sizing: border-box;
    }
    .servico-caixa-titulo {
        height: 50px;
    }
    .servico-caixa-titulo h1{
        font-size: 22px;
    }
    .vantagem {
        margin: 5px 0;
    }
    .vantagem h2{
        font-size: 18px;
    }
    .time-do-projeto {
        flex-wrap: wrap;
    }
    .time-do-projeto img {
        width: auto;
        height: 50px;
    }
    .image-nome h3{
        font-size: 12px;
    }
    .image-nome {
        margin-right: 10px;
        margin-bottom: 10px;
    }
}
@media (max-width: 500px) {
    .div-banner {
        flex-direction: column;
    }
    .caixa-img {
        display: none;
    }
    .caixa-chamada {
        width: 100%;
    }
    .contato {
        flex-direction: column;
    }
    .contato-esquerda {
        width: 100%;
        box-sizing: border-box;
    }
    .contato-direita {
        width: 100%;
        box-sizing: border-box;
    }
    .titulo-contato {
        height: 40px;
    }
    .titulo-contato h1{
        font-size: 22px;
    }
    .mapa{
        width: 100%;
        height: 100%;
    }
    .formulario-contato {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .formulario-contato input{
        width: 80%;
    }
}


